/**
 *  THESE COLORS ARE SPECIFIC TO THE THEME.
 *  DO NOT USE IN A PACKAGE!
 */

// hsl settings
@hue-primary: 220;
@saturation-base: 80%;
@lightness-base: 55%;

// Colors
@red: hsl(350, @saturation-base, @lightness-base);
@red-fg: darken(@red, 13%);
@red-bg: lighten(@red, 40%);

@green: spin(@red, 120);
@green-fg: darken(@green, 31%);
@green-bg: lighten(@green, 40%);

@blue: spin(@green, 120);
@blue-fg: darken(@blue, 5%);
@blue-bg: lighten(@blue, 40%);

// Secondary
@yellow: spin(@red, 60);
@yellow-fg: darken(@yellow, 28%);
@yellow-bg: lighten(@yellow, 44%);

@teal: spin(@yellow, 120);
@teal-fg: darken(@teal, 31%);
@teal-bg: lighten(@teal, 40%);

@purple: spin(@teal, 120);
@purple-fg: darken(@purple, 13%);
@purple-bg: lighten(@purple, 40%);

// Tertiary
@orange: spin(@red, 30);
@orange-fg: darken(@orange, 19%);
@orange-bg: lighten(@orange, 40%);
